@keyframes wing-flap {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(10deg); }
}

.animate-wing-flap {
  animation: wing-flap 0.5s infinite;
}

@keyframes glow {
  0%, 100% { filter: drop-shadow(0 0 5px #FF6B6B); }
  50% { filter: drop-shadow(0 0 15px #FF6B6B); }
}

.animate-glow {
  animation: glow 1s infinite;
}


media-play-button, media-seek-backward-button, media-seek-forward-button, media-time-display {
  background-color: transparent;
  z-index: 1000;
}

media-time-display {
  color: #000;
}